@import '../variables';	

.completed {
    text-decoration: line-through;
    color: $text-color;
  }
  .todo-item__actions {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-end;
    
    button {
      cursor: pointer;
      background: none;
      border: none;
    }
  }
  .md-list-tile {
    align-items: stretch !important;
  } 